/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
  background-color: #b7472a;
}
h1,
h2,
h3 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 60%;
  margin: 5% 20%;
  background-color: #fff2e5;
}
@media (max-width: 500px) {
  .container {
    justify-content: center;
    max-width: 100%;
    margin: 5% 10%;
    border: 2px solid grey;
  }
}
.container header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  object-fit: cover;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .container header {
    border: 2px solid grey;
    justify-content: center;
  }
}
.container header .navigation {
  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container header .navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.container header .cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #eb9788 55%, #ffd5ab 91%);
  color: white;
  text-shadow: 1px 1px 0 #b7472a;
  opacity: 0.8;
  width: 40%;
  height: 30vh;
}
@media (max-width: 1220px) {
  .container header .cta {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .container header .cta {
    width: 90%;
  }
}
.container header .cta h1 {
  font-size: 4rem;
  font-weight: 800;
  align-self: center;
  margin: 15% 0;
}
@media (max-width: 500px) {
  .container header .cta h1 {
    text-align: center;
    font-size: 3rem;
    margin: 5% 0;
  }
}
.container header .cta .button {
  padding: 5%;
  font-size: 1.8rem;
  font-weight: 500;
  text-shadow: 1px 1px 0 #b7472a;
  border: 2px solid white;
  border-radius: 1rem;
}
@media (max-width: 500px) {
  .container header .cta .button {
    font-size: 1.2rem;
    padding: 3%;
    border: 1px solid white;
    text-align: center;
  }
}
.navigation nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  letter-spacing: 0.3rem;
  background-color: #fff2e5;
}
@media (max-width: 500px) {
  .navigation nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.navigation nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media (max-width: 500px) {
  .navigation nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.navigation nav li a {
  align-self: stretch;
  text-decoration: none;
  color: #b7472a;
  padding: 0.6rem 2rem;
  display: block;
}
@media (max-width: 500px) {
  .navigation nav li a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0rem;
  }
}
.navigation nav li a:hover {
  color: #eb9788;
}
.navigation nav li a:active,
.navigation nav li a:hover {
  text-transform: uppercase;
  color: #ffd5ab;
}
.container footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  background: linear-gradient(90deg, #eb9788 55%, #ffd5ab 91%);
  width: 100%;
}
.container footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
.container footer li {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  width: 90%;
}
.container footer li .icon {
  margin-right: 1%;
}
.container .getStarted {
  height: 20vh;
}
.container .getStarted h2 {
  color: #b7472a;
  text-align: center;
  font-weight: 700;
  margin: 2% 0;
}
.container .getStarted ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container .getStarted li span {
  font-size: 3rem;
  padding: 0.6rem 2rem;
  display: block;
}
.container .getStarted li .icon-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #b7472a;
  font-size: 2rem;
  margin-top: 10%;
}
.container .getStarted li .icon-box .getStarted-text {
  font-size: 1.6rem;
}
.container .whoWhy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background: linear-gradient(90deg, #eb9788 55%, #ffd5ab 91%);
  height: 30vh;
}
.container .whoWhy h2 {
  text-align: center;
  font-weight: 700;
  margin: 2% 0;
}
.container .whoWhy .whoWhy-text {
  width: 62%;
  color: white;
  font-size: 1.8rem;
  line-height: 2rem;
  text-shadow: 1px 1px 0 #b7472a;
}
.container .whoWhy .image {
  width: 35%;
  background: url(https://picsum.photos/500);
  object-fit: contain;
  background-repeat: no-repeat;
}
.container .journals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0;
  background-color: #fff2e5;
}
.container .journals h2 {
  text-align: center;
  font-weight: 700;
  margin: 2% 0;
  color: #b7472a;
  width: 100%;
  font-size: 2.5rem;
}
.container .journals h3 {
  color: #b7472a;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
  margin: 2% 0;
}
.container .journals .journal-posts {
  width: 30%;
}
.container .journals .journal-posts .journal-img img {
  width: 100%;
  object-fit: contain;
}
.container .journals .journal-posts .journals-info {
  background-color: whitesmoke;
  text-align: center;
  line-height: 1.8rem;
}
.container .journals .journal-posts .journals-info h3 {
  font-weight: 700;
}
.container .journals .journal-posts .journals-info p {
  font-size: 1.5rem;
  text-align: left;
}
.container .main-content-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background: linear-gradient(90deg, #eb9788 55%, #ffd5ab 91%);
}
.container .main-content-area h2 {
  text-align: center;
  margin: 2% 0;
}
.container .main-content-area .image {
  width: 35%;
  background: url(https://picsum.photos/400);
  object-fit: contain;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.container .main-content-area .profile {
  width: 62%;
  color: white;
  font-size: 1.8rem;
  line-height: 2.5rem;
  border-bottom: 1px outset #b7472a;
  text-shadow: 1px 1px 0 #b7472a;
}
