/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
}
h1,
h2,
h3 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 60%;
  margin: 5% 20%;
  background-color: #fff2e5;
}
.container header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
.container header .navigation {
  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
}
.container header .cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(90deg, #eb9788 49%, #ffd5ab 91%);
  opacity: 0.8;
  width: 40%;
  height: 30vh;
}
.container header .cta h1 {
  font-size: 4rem;
  font-weight: 800;
  align-self: center;
  margin: 15% 0;
}
.container header .cta .button {
  padding: 5%;
  font-size: 1.8rem;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 1rem;
}
.navigation nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  letter-spacing: 0.3rem;
  background-color: #fff2e5;
}
.navigation nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation nav li a {
  align-self: stretch;
  text-decoration: none;
  color: #b7472a;
  padding: 0.6rem 2rem;
  display: block;
}
.navigation nav li a:hover {
  color: #eb9788;
}
.navigation nav li a:active,
.navigation nav li a:hover {
  text-transform: uppercase;
  color: #ffd5ab;
}
.container .footerInfo {
  border: 2px solid grey;
  background-color: darkseagreen;
}
.container .getStarted {
  height: 20vh;
}
.container .getStarted h2 {
  color: #b7472a;
  text-align: center;
  font-weight: 500;
  margin: 2% 0;
}
.container .getStarted ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container .getStarted li span {
  font-size: 3rem;
  padding: 0.6rem 2rem;
  display: block;
}
.container .getStarted li .icon-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #b7472a;
  font-size: 2rem;
  margin-top: 10%;
}
.container .getStarted li .icon-box .getStarted-text {
  font-size: 1.6rem;
}
.container .whoWhy {
  border: 2px solid grey;
  background-color: blue;
}
.container .journals {
  border: 2px solid grey;
  background-color: pink;
}
