//about page styles go here
.container .main-content-area {
    .flexin (row, wrap, space-evenly , center);
    font-size: 1.8rem;

    .box {
        .flexin(row, nowrap, center, center);
        width: 100%;
        border-bottom: 2px solid @darksand;

        #jessica {
            background:url("../assets/jessicaLam.jpeg");
            background-size: cover;
        }//end jessica

        #christina {
            background:url("../assets/christinaSmith.jpeg");
            background-size: cover;
        }//end christina

        #jana {
            background:url("../assets/janaScheuble.jpeg");
            background-size: cover;
        }//end jana
        
        #charise {
            background:url("../assets/chariseArter.jpeg");
            background-size: cover;
        }//end charise

    
        @media @phone {
            .flexin(column, wrap, center, center);
            flex-shrink: 1;
        }

        .image-box{
            height: 200px;
            width:200px;
            border-radius: 15px;

            @media @phone {
                flex-shrink: 1;
            }
           
            
        }//end image box

        .profile {
            width: 60%;
            text-align:center;
            padding: 5%;
            line-height: 2.5rem;

            @media @ipad {
               width: 70%;
            }//end media ipad

            @media @phone {
                font-size: 1.5rem;    
                width: 80%;
        
            }



            h2 {
                color: @darkclay;
                font-weight: 900;
                text-align:center;

            }//end h2

            p span {
                font-weight: 800;
            }

            a {
                text-decoration:none;
                color:@darkclay;

                &:hover {
                    color:@darksand;
                    text-transform: uppercase;
                }
            }//end a
        }//end profile
    }//end box 

    
    
}//end main content area