//about page styles go here
.container .main-content-area {

    .flexin (row, wrap, space-between, stretch);
    .gradientBg();
    

    h2 {
        text-align: center;
        margin: 2% 0;
    }

    .image img{
        width: 35%;
        object-fit: contain;
        background-repeat: no-repeat;
        border-radius: 25px;
        
}//end image

    .profile {
        width: 62%;
        color: white;
        font-size: 1.8rem;
        line-height: 2.5rem;
        border-bottom: 1px outset @darkclay;
        text-shadow: 1px 1px 0 @darkclay;

    }//end profile

}//end main conten area
