//global general styles go here
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    background-color: @darkclay;
}
h1, h2, h3 {
    font-size: 2rem;
    font-weight: 500;
    color: @darkclay;
}

.container {
   .flexin(column, wrap, flex-start, center);
   max-width: 60%;
   margin: 5% 20%;
   background-color: @sand;

   @media @phone {
       //not sure what to add yet
       justify-content: center;
       max-width: 100%;
       margin: 2% 0%;
       

   }//end media phone
 

    header .navigation {
        align-self: flex-end;
        width: 100%;
        .flexin(row, wrap, flex-end);
        font-size: 1.6rem;

        @media @phone {
            .flexin (column, wrap, center, center);
     
        }//end media navigation 
    }//end navigation
  
}//end container