//home page styles go here

.container .getStarted {
    //.flexin(row, wrap, space-evenly, center);
    height: 20vh;

    @media @phone {
        .flexin(column, nowrap, center, center);
        height: 100%;
    }
    h2 {
        color:@darkclay;
        .h2-format();
    }
    ul {
        .flexin(row, wrap, space-around, center);
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        @media @phone {
           flex-direction: column;
           margin-bottom: 2%;
        }

    li {

        @media @phone{
            .flexin(column, wrap, center, center);
        }
        span {
            font-size: 2rem;
            padding: .6rem 2rem;
            display:block;
        }//end span
    .icon-box {
        .flexin(column, wrap, space-evenly, center);
        color: @darkclay;
        font-size: 2rem;
        margin-top: 10%;

        .getStarted-text {
            //.flexin(column, wrap, space-around, center);
            font-size: 1.6rem;
        }//end getStarted-text
    }//end icon-box
    }//end li
    }//end ul
}//end getStarted

.container .whoWhy {
    .flexin(row, wrap, space-between, stretch);
    .gradientBg();
    height: 30vh;
    h2 {
       .h2-format();
       
    }
        .whoWhy-text {
            width: 62%;
            color: white;
            font-size: 1.8rem;
            line-height: 2rem;
            text-shadow: 1px 1px 0 @darkclay;

        }
        .image {
            width: 35%;
            background:url(https://picsum.photos/500);
            object-fit: contain;
            background-repeat: no-repeat;
    }//end image
}//end whoWHy


.container .journals {
    .flexin(row, wrap, space-around, center);
    margin: 2% 0;
    background-color:@sand;
    h2 {
        .h2-format();
        color: @darkclay;
        width: 100%;
        font-size: 2.5rem;

    }//end h2

    h3 {
        color: @darkclay;
        font-size: 1.7rem; 
        width: 100%;
        text-align:center;
        margin: 2% 0;
    }//end h3
    .journal-posts {
        
        width: 30%;
        
        .journal-img img {
            width: 100%;
            object-fit: contain;

        }//end images
        .journals-info {
            background-color: whitesmoke;
            text-align: center;
            line-height: 1.8rem;

            h3 {
                font-weight: 700;
            }

            p {
                font-size: 1.5rem;
                text-align: left;
            }

        }
    }//end journal posts
} //end journal