//home page styles go here

.container .getStarted {
    .remove();
    h2 {
        color:@darkclay;
    }
    ul {
        .flexin(row, wrap, space-around, center);
    }

}//end getStarted

.container .whoWhy {
    .remove();
    background-color: blue;
}//end whoWhy

.container .journals {
    .remove();
    background-color: pink;
} //end journal