// build week mixins go here

//checking to see if what I am editing is targeted correctly
//removed when I am satisfied with the design
.remove() {border: 2px solid grey;}

//for each flex container
.flexin(@direction, @wrap, @justify, @align:center) {
    display: flex;
    flex-direction:@direction;
    flex-wrap:@wrap;
    justify-content:@justify;
    align-items:@align;

}

//for the buttons
.buttons() {
    //add properties
}
