// build week mixins go here

//checking to see if what I am editing is targeted correctly
//removed when I am satisfied with the design
.remove() {border: 2px solid grey;}

//for each flex container
.flexin(@direction, @wrap, @justify, @align:center) {
    display: flex;
    flex-direction:@direction;
    flex-wrap:@wrap;
    justify-content:@justify;
    align-items:@align;
}

//for the background
.gradientBg() {
    background: linear-gradient(90deg, rgba(235,151,136,1) 55%, rgba(255,213,171,1) 91%);
}

//for h2

.h2-format() {
    text-align: center;
        font-weight: 700;
        margin: 2% 0;
}

//for ul
.ul-format() {
    list-style-type: none;
        padding: 0;
        margin: 0;
        text-align:center;
}

//media query

@phone: ~'(max-width: 500px)';

@sm-phone: ~'(max-width: 300px)';