//navigation styles go here

.navigation nav {
    .flexin(row, wrap, flex-end, center);
    width: 100%;
    letter-spacing: .3rem;
    background-color: @sand;

    @media @phone {
        .flexin(column, wrap, center, center);
    }

    ul {
        .flexin(row, wrap, flex-end, space-around);
        .ul-format();

        @media @ipad {
            justify-content: center;
        }

        @media @phone {
            .flexin(column, wrap, center, center);
        }
    }

    li a {
        align-self: stretch;
        text-decoration: none;
        color: @darkclay;
        padding: .6rem 2rem;
        display:block;

        @media @phone {
            .flexin(column, wrap, center, center);
            padding: .6rem 0rem;
        }

        &:hover{
            color: @pinkclay;
        }//end hover

        &:active, &:hover {
            text-transform: uppercase;
            color:@darksand;
        }
    }//end a



}//end navigation