.container .whoWhy {
    .flexin(row, wrap, center, center);
        .whoWhy-box{
            .flexin(row, wrap, space-between, stretch);
            width: 100%;
            background-color: @darksand;
            
            .image{
                background:url("../assets/drivingCars.jpg");
                background-size: cover;
                width: 40%;
            }//end image
            .whoWhy-text {
                width: 55%;
                padding: 2% 0;

                h2 {
                    .h2-format();
                    color: @darkclay;
                    font-size: 2.5rem;
                }//end h2

                p{
                    font-size: 1.8rem;
                    line-height: 1.8rem;
                }//end p
            }//end whoWhy text
        }//end box
}//end whoWHy